Django==5.1.2
gunicorn==20.1.0
psycopg2-binary
django-phonenumber-field
phonenumbers
djangorestframework
python-dateutil
pytest
pytest-django
pytest-mockito
factory-boy
injector
pymemcache
djangorestframework-simplejwt
django-ratelimit
drf-spectacular
drf-yasg
django-environ
django-crontab 
twilio
stripe
django-cors-headers
